h1{
  font-family: 'Bebas Neue Regular';
  font-size: 2rem;
  color: #202639 !important;
}

.tabela-content{
  width: 100%;
  max-width: 70rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
}

.tabela-content::-webkit-scrollbar {
  height: 8px;               /* width of the entire scrollbar */
}

.tabela-content::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.tabela-content::-webkit-scrollbar-thumb {
  background-color: #202639;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

input.ant-input.ant-input-disabled.ant-input-borderless {
  color: #008192;
  text-align: center;
  cursor: default;
  font-weight: 400;
}
input.ant-input {
  text-align: center;
  font-weight: 700;
}

.ant-row.ant-row-no-wrap {
  gap: .3rem;
}
