h1{
  font-size: 2rem;
}

.tabela-content{
  width: 50rem;
  background: white;
  padding-bottom: 1rem;
  overflow-x: scroll;
}

.tabela-content::-webkit-scrollbar {
  height: 8px;               /* width of the entire scrollbar */
}

.tabela-content::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.tabela-content::-webkit-scrollbar-thumb {
  background-color: #ff4d4f;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
