@font-face {
    font-family: 'Roboto Slab';
    src: url('../assets/fontes/roboto.ttf');
}
body{
    background-color: #E8F0F2;
    font-family: 'Roboto Slab';
    padding: 2rem;
}
.content{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.content-left{
    text-align: center;
    
}