@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../assets/fontes/BebasNeue-Regular.ttf');
}
body{
    background-color: #f6faff;
    font-family: 'Nunito';
    padding: 2rem 0;
    background-position: top right, top left;
    background-repeat: no-repeat, no-repeat;

}